@import "tailwindcss";

@theme {
  --font-display: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, sans-serif;
  --font-body: "Nunito", "ui-rounded", "SF Pro Rounded", "system-ui", sans-serif;

  --color-brand-500: #4f46e5;
  --color-sidebar-background: #87CEFA; 
}